.header-with-matrix{
  height: 400px;
}
canvas {
  position: absolute;
  z-index: 1;
}
.firstBlock {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  min-height: 400px;
  width: 100vw;
  z-index: 1000;
}
.firstBlock H1 {
  color: white;
  padding-left: 2rem;
}
.firstBlock .line {
  width: 100%;
}
.firstBlock .myFace{
  padding: 2rem 0 0 2rem;
}
.secondBlock {
  min-height: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}
.thridBlock {
  min-height: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.thridBlock_1 {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 0 1rem;
}
.thridBlock_1 div {
  flex-basis: 100%;
}
.thridBlock_1 p {
  text-align: center;
}
.thridBlock_2 {
  text-align: center;
}
.secondBlock_1 {
  max-width: 800px;
}
.fourBlock {
  min-height: 500px;
  background-color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: space-around;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.fourBlock a {
  color: black;
  font-size: 1.25rem;
}

.fiveBlock {
  min-height: 500px;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.fiveBlock img:hover {
  transform: rotate(180deg);
}
.verticalLine {
  min-width: 0.25rem;
  min-height: 300px;
  background-color: black;
}
.line {
  min-width: 600px;
  min-height: 0.25rem;
  background-color: white;
}
.lineBlack {
  min-width: 600px;
  min-height: 0.25rem;
  background-color: black;
}
.go-to-top {
  display: block;
  position: fixed;
  top: 95vh;
  left: 2rem;;
  transform: scale(2);
}
img {
  border-radius: 50%;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
html, body {
  margin: 0;
  padding: 0;
  font-size: larger;
  font-family: cursive;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
}
.fourBlock li {
  white-space: nowrap;
}
menu {
  all: inherit;
}
.d-flex{
  display: flex;
}

